<strong>Olá, {{ host }}</strong>
<p>Mais um inscrito no seu meetup,
    <strong>{{ title }}</strong>,
    confira os dados abaixo:</p>
    <p>
        <strong>User:</strong> {{ user }} <br />
        <strong>email:</strong> {{ email }} <br />
        <strong>Data/hora:</strong> {{ date }} <br />
    </p>
